.container-fluid {
    user-select: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    padding: 12px 24px;
    background: #003449;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h4{
      padding:0;
      display: inline;
      margin-left: 16px;
      color:white;
    }
    img {
      float: left;
    }
    .home{
        color:white;
        text-decoration: none;
    }
    .language {
      text-align: right;
      color: white;
      float: right;
      position: relative;
      vertical-align: middle;
      min-width: 100px;
      >span{
        cursor: pointer;
      }
      .showContext{
        display: block;
      }
      ul {
        display: none;
        border-radius: 4px;
        background-color: white;
        color: #23292f;
        list-style: none;
        padding: 0;
        position: absolute;
        width: 100%;
        box-shadow: 0 0 10px 0 rgba($color: black, $alpha: 0.2);

        li {
          cursor: pointer;
          padding: 4px 8px;
          margin: 4px 0;

          img {
            margin-right: 5px;
          }

          &:hover {
            background-color: #0969da;
            color: white;
          }
        }
      }
    }
  }